* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.card {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  padding: 10px;
  box-shadow: 5px 10px 10px lightseagreen;
}

.info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(58, 150, 150);
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  font-family: 'Varela Round', sans-serif;
  width: 40%;
  display: flex;
  list-style: none;
  padding: 0.8%;
  justify-content: space-between;
  color: aliceblue;
  cursor: pointer;
}

.nav-list :hover {
  color: bisque;
}

.my-logo {
  margin-left: 10px;
  margin-top: 15px;
  text-decoration: none;
  font-family: 'Rubik Beastly', cursive;
}

footer {
  width: 100%;
  padding: 0.8%;
  background-color: rgb(58, 150, 150);
  position: sticky;
  bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-justify: auto;
}

.my-footer {
  display: flex;
  justify-content: left;
  margin-left: 120px;
}

.movie-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
