* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  background-color: aqua;
}

.card {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  padding: 10px;
  box-shadow: 5px 10px 10px lightseagreen;
}

.info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(58, 150, 150);
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  font-family: 'Varela Round', sans-serif;
  width: 300px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.my-logo {
  margin-left: 10px;
  margin-top: 15px;
  text-decoration: none;
  font-family: 'Rubik Beastly', cursive;
}

footer {
  width: 100%;
  background-color: rgb(58, 101, 150);
  position: sticky;
  bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-footer {
  display: flex;
  justify-content: left;
  margin-left: 120px;
}

#popup {
  display: none;
}

#popup.active {
  display: block;
}

#popup .overaly {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#popup .overaly.hidden {
  display: none;
}

#popup .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #f5c33b;
  color: #fa383e;
  width: 600px;
  z-index: 2;
  padding: 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

#popup .content.hidden {
  display: none;
}

#popup .content .close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

#popup .content img {
  width: 80%;
  align-self: center;
  margin-bottom: 3%;
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}

#popup .content .item-name {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: #ff1018;
}

#popup .content .comment-num {
  display: flex;
  justify-content: center;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff1018;
}

#popup .content .allcomments {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  height: 100px;
}

#popup .content .allcomments p {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1%;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#popup .content .form_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ff1018;
}

#popup .content .form_x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popup .content .form_x .form_item {
  width: 80%;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2%;
  border-radius: 2.5%;
  -webkit-border-radius: 2.5%;
  -moz-border-radius: 2.5%;
  -ms-border-radius: 2.5%;
  -o-border-radius: 2.5%;
}

#popup .content .form_x button {
  border: none;
  padding: 1%;
  background-color: #ff1018;
  color: white;
}