* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  background-color: black;
}

.card {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  padding: 10px;
  box-shadow: 5px 10px 10px lightseagreen;
}

.info-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(58, 150, 150);
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  font-family: 'Varela Round', sans-serif;
  width: 40%;
  display: flex;
  list-style: none;
  padding: 0.8%;
  justify-content: space-between;
  color: aliceblue;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightskyblue;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

.nav-list :hover {
  color: bisque;
}

.my-logo {
  margin-left: 10px;
  margin-top: 15px;
  text-decoration: none;
  font-family: 'Rubik Beastly', cursive;
}

footer {
  width: 100%;
  padding: 0.8%;
  background-color: rgb(58, 150, 150);
  position: sticky;
  bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-justify: auto;
}

.my-footer {
  display: flex;
  justify-content: left;
  margin-left: 120px;
}

.movie-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
}

.modal-content {
  background-color: wheat;
  z-index: 98;
  align-items: center;
  border: 2px solid #fff;
  margin: 1.5% auto;
  padding: 20px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2%;
}

#thumbnail {
  width: 50%;
  height: 50%;
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.modal-content .closeButton {
  align-self: flex-end;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 25px;
  text-align: center;
  color: white;
}

.movie-info {
  width: 50%;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

textarea {
  resize: none;
}

#comments {
  overflow: auto;
  width: 50%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.items-count {
  font-weight: bold;
  font-size: larger;
}

.fa-heart {
  cursor: pointer;
}
